.listCategory {
  background-color: #fff;
  padding: 1rem;
}

.title {
  font-weight: 500;
  font-size: 1.4rem !important;
  text-transform: uppercase;
}

.moreLink {
  color: rgb(1, 1, 163);
}

.moreLink:hover {
  text-decoration: underline;
  cursor: pointer;
  color: rgb(0, 0, 255);
}