.product {
  margin: 0.2rem;
  cursor: pointer;
  border: 1px solid #fff;
}

.product:hover {
  box-shadow: 0 0 10px #e6e6e6;
}

.image {
  display: inline; 
  width: 100%;
}

.info {
  padding: 1rem;
  height: 5rem;
  max-height: 5rem;
  text-align: center;
}

.name {
  font-size: 1rem;
  margin-bottom: 0.2rem;
  font-weight: 100;
  color: black;
  text-decoration: none;
}

.price {
  font-weight: 500;
  color: red;
}

.name:hover {
  text-decoration: underline;
}
